#questions-container h1,
#questions-container h2 {
  font-size: 2rem;
}

blockquote {
  color: grey;
  padding-left: 1rem;
  position: relative;
}

blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: gray;
}

pre {
  border-radius: 3px;
}