.icon-perf {
  float: right;
  font-size: 1rem;
  color: gold;
}

.icon-perf:hover {
  cursor: pointer;
}

nav ::-webkit-input-placeholder {
  text-align: center;
}

nav :-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

nav ::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

nav :-ms-input-placeholder {  
  text-align: center; 
}

.search-input {
  width: 75%;
}

html {
  scroll-behavior: smooth;
}

.slideAlert-container {
  position: absolute;
  bottom: 80px;
  width: 300px;
  margin: 0;
  z-index: 100;
  right: -350px;
}
