.icon-perf {
  float: right;
  font-size: 1rem;
  color: gold;
}

.icon-perf:hover {
  cursor: pointer;
}

nav ::-webkit-input-placeholder {
  text-align: center;
}

nav :-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

nav ::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

nav :-ms-input-placeholder {  
  text-align: center; 
}

.search-input {
  width: 75%;
}

#questions-container h1,
#questions-container h2 {
  font-size: 2rem;
}

blockquote {
  color: grey;
  padding-left: 1rem;
  position: relative;
}

blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: gray;
}

pre {
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}